@import 'mixins';
@import 'reset';

html,
body,
.loading-div {
  width: 100%;
  height: 100%;
}

html {
  background-color: #000;
}

body {
  font-size: 62.5%;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

.hide {
  display: none;
}

.loading {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  color: #fff;
  text-align: center;
  padding-top: 50%;
}

.article,
.videochat {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  padding: 10px;
}

.article {
  top: 40px;
  right: 20px;
  width: 30%;

  h1 {
    font-weight: bolder;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  h2 {
    color: #7DDAF0;
    margin-bottom: 8px;
  }

  .paragraph {
    font-size: 1.2em;
    margin-bottom: 3px;
    color: #ddd;
  }

  .url {
    font-size: 1em;
    font-style: italic;

    span {
      font-style: normal;
      font-weight: bolder;
    }
  }
}

.videochat {
  top: 50px;
  left: 50px;
}

.video {
  width: 240px;

  video {
    width: 100%;
  }
}
