@import 'mixins';
@import 'reset';

html,
body,
.loading-div,
.grid-overlay,
.hud-overlay {
  width: 100%;
  height: 100%;
}

html {
  background-color: #000;
}

body {
  font-size: 62.5%;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

.hide {
  display: none;
}

.error-alert {
  width: 100%;
  position: absolute;
  z-index: 9999;
  text-align: center;
  color: #921230;
  font-size: 1.4em;
  top: 20px;
}

.hud-overlay {
  position: absolute;
  z-index: 2000;
  background: url('/assets/hud.png') center center no-repeat;
}

.hud-info {
  width: 300px;
  position: absolute;
  z-index: 2001;
  color: #C0C0C2;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 53%;
  text-align: center;
}

.camera-values {
  margin-bottom: 15px;
}

.dot-title {
  margin-bottom: 8px;
  font-size: 1.2em;
}

.read-button {
  background: url('/assets/button-bg.png') center center no-repeat;
  background-size: contain;
  color: #ccc;
  border: none;
  padding: 5px;
}

.grid-overlay {
  position: absolute;
  z-index: 1000;
  background: url('/assets/grid-point.png') repeat;
}

.loading {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  color: #fff;
  text-align: center;
  padding-top: 50%;
}

.article-section,
.videochat {
  height: 100%;
  z-index: 3000;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  padding: 10px;
}

.article-section {
  top: 40px;
  right: 20px;
  width: 30%;

  article {

    height: 30%;
    padding: 20px;
    margin-bottom: 10px;
    overflow-y: scroll;
    border: 1px solid rgba(101, 183, 201, 0.2);

    &.article-news {
      height: 60%;
    }

  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(101, 183, 201, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(101, 183, 201, 0.5);
  }

  h1 {
    font-weight: bolder;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  h2 {
    color: #7DDAF0;
    margin-bottom: 8px;
  }

  .paragraph {
    font-size: 1.2em;
    margin-bottom: 3px;
    color: #ddd;
  }

  .url {
    font-size: 1em;
    font-style: italic;

    span {
      font-style: normal;
      font-weight: bolder;
    }
  }
}

.videochat {
  top: 50px;
  left: 50px;
}

.video {
  width: 240px;

  video {
    width: 100%;
  }
}

.tweet {
  margin-bottom: 5px;
}
