<div class="videochat-call">
  <article class="video you">
    <video class="user-video-el" autoplay></video>
  </article>

  <article class="video stranger">
    <video class="stranger-video-el" autoplay></video>
  </article>

  <button class="end-call">end call</button>
</div>
