{{!-- <div class="videochat-call">
  <article class="video you">
    <video class="user-video-el" autoplay></video>
  </article>

  <article class="video stranger">
    <video class="stranger-video-el" autoplay></video>
  </article>

  <button class="end-call">end call</button>
</div> --}}

<div class="videochat-call">

  <article class="video stranger">
    <video class="stranger-video-el" autoplay></video>
    <ul class="call-info">
      <li><video class="user-video-el" muted autoplay></video></li>
      <li class="stranger-status"><p></p></li>
      <li class="stranger-time"><p></p></li>
    </ul>
  </article>

  <button class="end-call">END</button>

</div>
